/* This file is for your main application css. */

@import "bootstrap";


a#station_title{
     color: #f2f2f2;
     text-decoration:none;
}

a:hover#station_title{
    color: #ffffff;
    text-decoration: underline;
}